<% title @vm.name %>

<div class='col-md-12'>
  <table class="table table-bordered table-striped">
    <tr><th colspan="2">Properties</th></tr>
    <%= prop :create_time, 'Created Time' %>
    <%= prop :cores, 'CPU Cores' %>
    <tr><td>Memory</td><td><%= @vm.memory %> GB</td></tr>
    <%= prop :current_price, 'Current Price' %>
    <% @vm.relations['storages'].each do |storage| %>
    <tr><td>Storage</td><td><%= storage['capacity'] %></td></tr>
    <% end %>
    <% @vm.relations['networks'].each do |network| %>
      <tr><td>mac</td><td><%= network['mac'] %></td></tr>
    <% end %>
    <tr>
	<td>Console</td>
	<td><a target="_blank" href="https://my.gridscale.io/js/UX/Helper/VNC/terminalModalStandalone.html?uuid=<%= @vm.object_uuid %>&path=api.gridscale.io">Open</a></td>
    </tr>
  </table>
</div>
