<% title @vm.name %>

<div class='col-md-12'>
  <table class="table table-bordered table-striped">
    <tr><th colspan="2">Properties</th></tr>
    <%= prop :create_time, 'Created Time' %>
    <%= prop :cores, 'CPU Cores' %>
    <tr><td>Memory</td><td><%= @vm.memory %> GB</td></tr>
    <%= prop :current_price, 'Current Price' %>
    <%= prop :mac, 'MAC Adrress' %>
    <%= prop :ipv4_address, 'IP 4' %>
    <%= prop :ipv6_address, 'IP 6' %>

    <tr>
	<td>Console</td>
	<td><a target="_blank" href="https://my.gridscale.io/Easy/js/UX/Helper/VNC/terminalModalStandalone.html?uuid=<%= @vm.object_uuid %>&name=<%= @vm.name %>&path=api.gridscale.io">Open</a></td>
    </tr>
  </table>
</div>
